
@{
    ViewBag.Title = "Like";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Like</h2>


<style>
    body {
        margin: 40px;
    }

    button {
        cursor: pointer;
        outline: 0;
        color: #AAA;
    }

    .btn:focus {
        outline: none;
    }

    .green {
        color: green;
    }

    .red {
        color: red;
    }

    btn:hover,
    btn:focus,
    btn.focus {
        color: unset !important;
        text-decoration: none;
    }
</style>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>


        $(document).ready(() => {
            var likebutton = document.querySelector('#likebutton');
            var dislikebutton = document.querySelector('#dislikebutton');
            //var likes = document.getElementById("likes");
            //var dislikes = document.getElementById('dislikes');

            likebutton.addEventListener('click', function () {
                var likes = document.getElementById("likes"); // likeları gösterdiğimiz a elementi.
                var dislikes = document.getElementById('dislikes');
                var likeCount = 0; // mevcut like bilgisini tutar.
                var dislikeCount = 0
                if (dislikebutton.classList.contains('red')) {
                    dislikebutton.classList.remove('red');
                    var dislikeCount = Dislike(-1);
                    dislikes.innerHTML = dislikeCount;
                }

                // daha önceden green eklenmişse adam vazgeçmek için tıklıyordur.
                if (likebutton.classList.contains('green')) {
                    like = Like(-1); // like sayısı 1 eksilir.
                }
                else {
                    likeCount = Like(1);
                }

                this.classList.toggle('green');
                //console.log(likeCount);
                likes.innerHTML = String(likeCount);
            });
            //$('likebutton').on('click', function (e) {
            //    $(this).toggleClass('like');

            //    setTimeout(() => {
            //        $(e.target).removeClass('like')
            //    }, 1000)
            //});








            dislikebutton.addEventListener('click', function () {
                var likes = document.getElementById("likes"); // likeları gösterdiğimiz a elementi.
                var dislikes = document.getElementById('dislikes');
                var likeCount = 0; // mevcut like bilgisini tutar.
                var dislikeCount = 0

                if (likebutton.classList.contains('green'))
                {
                    likebutton.classList.remove('green');
                    var likeCount = Like(-1);
                    likes.innerHTML = String(likeCount);
                }
                if (dislikebutton.classList.contains("red")) {
                    dislikeCount = Dislike(-1);
                }
                else {
                    dislikeCount = Dislike(1);
                }
                dislikes.innerHTML = dislikeCount;

                this.classList.toggle('red');

            });













            function Like(count) {
                var post_url = "/Reaction/Like";
                var datam = {
                    value: count
                };
                var likes = 0;
                $.ajax({
                    type: "POST",
                    async: false,
                    url: post_url,
                    data: datam,
                    dataType: "json",
                    encode: true,
                    success: function (likeCount) {
                        likes = likeCount;
                        //console.log(likeCount)
                        //console.log(likes)
                    }
                });
                //event.preventDefault();
                return likes;
            };
            function Dislike(count) {
                var post_url = "/Reaction/Dislike";
                var datam = {
                    value: count
                };
                var dislikeCounttt = 0;
                $.ajax({
                    type: "POST",
                    async: false,
                    url: post_url,
                    data: datam,
                    dataType: "json",
                    encode: true,
                    success: function (dislikeCount) {
                        dislikeCounttt = dislikeCount;
                        //console.log(likeCount)
                        //console.log(likes)
                    }
                });
                //event.preventDefault();
                return dislikeCounttt;
            };
        });
    </script>
}

<script src="https://use.fontawesome.com/fe459689b4.js"></script>

<a id="likes">0</a>
<button class="btn" id="likebutton"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
    <a id="dislikes">0</a> 
<button class="btn" id="dislikebutton"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>

